---
import { perfil } from "../data/Portafolio";
import FaceboolIcon from "../components/icons/facebook.astro";
import InstagramIcon from "../components/icons/instagram.astro";
---

<footer class="bg-gray-900 text-gray-300 py-10 px-6" id="miContacto">
  <div class="max-w-5xl mx-auto grid md:grid-cols-3 gap-20 text-center ">
    <!-- SECCIÓN: Contacto -->
    <div>
      <h2 class="text-xl font-semibold text-white mb-4">Contáctame</h2>
      <p class="mb-2">
        📱 <span class="font-medium">Teléfono:</span>
        {perfil[0].telefono}
      </p>
      <p class="mb-2">
        📧 <span class="font-medium">Correo:</span>
        {perfil[0].email}
      </p>
    </div>

    <!-- SECCIÓN: Enlaces útiles -->
    <div>
      <h2 class="text-xl font-semibold text-white mb-2">Enlaces</h2>
      <ul class="space-y-2">
        <li><a href="#acercaMi" class="hover:text-white">Acerca de mí</a></li>
        <li><a href="#proyectos" class="hover:text-white">Proyectos</a></li>
        <li>
          <a href="#certificados" class="hover:text-white">Certificados</a>
        </li>
   
      </ul>
    </div>

    <!-- SECCIÓN: Redes Sociales -->
    <div>
      <h2 class="text-xl font-semibold text-white mb-2">Sígueme</h2>
      <div class="flex gap-4 ml-18 md:ml-0 justify-center">
        <!-- Facebook -->
        <FaceboolIcon />

        <!-- Instagram -->
        <InstagramIcon />
      </div>
    </div>
  </div>

  <!-- SECCIÓN: Derechos reservados -->
  <div
    class="mt-10 border-t border-gray-700 pt-4 text-center text-sm text-gray-400"
  >
    © 2025 Anthony Castro — Todos los derechos reservados.
  </div>
</footer>
