<a
    href="../../src/assets/CV_Anthony_Castro_Avila.pdf"
    download="CV_Anthony_Castro_Avila"
    class="flex items-center gap-2"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 4v16m8-8H4"></path>
    </svg>

    Curicculum Vitae
</a>
